input, textarea {
    font-size: 16px;
    padding: 5px 10px;
    box-shadow: none;
    font-family: $body-font;
    font-weight: 400;
    letter-spacing: 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
}