#gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    
    .single-image {
        border: 1px solid #ccc;
        width: calc((100% - 60px)/4);
        @include tablet {
            width: calc((100% - 20px)/2);
        }
        display: block;
        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: center;
         }
        &__text {
            padding: 5px;
            * {
                display: block;
                text-align: center;
            }
            strong {
                font-weight: bold;
            }
        }
    }
    @include mobile {
        display: grid;
        grid-template-columns: 1fr;
        .single-image {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
        }
    }
}